body{

    background-color: #F4F6F8;
    color: black;


}


.text-white{
    background-color:  #25A667;
    color: white;
}

.bg-green{
    background-color:  #25A667;
}


.highlight{

    background-color: white;
    /* border: black solid 1px; */
    border-radius: 200;
    margin-top: 2rem;

}



section{
    height: 70%;
}

.login{
    width: 30%;
    margin-top: 5%;
}

.botao:hover{
    background-color: #0fe980;
}



.result {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  

  .curso-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    color: #212529;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .curso-item:hover {
    background-color: #e9ecef;
    border-color: #ced4da;
    transform: translateX(5px);
    text-decoration: none;
    color: #0d6efd;
  }